---
---
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="./assets/logo.png" alt="XPRTZ.net" width="200" height="70" />
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarToggler"
            aria-controls="navbarToggler"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-end" id="navbarToggler">
            <div class="navbar-nav">
                <a class="nav-link" href="#">Loading</a>
                <a class="nav-link" href="#">Loading</a>
                <a class="nav-link" href="#">Loading</a>
                <a class="nav-link" href="#">Loading</a>
                <a class="nav-link" href="#">Loading</a>
            </div>
        </div>
    </div>
</nav>